<div class="max-w-sm rounded overflow-hidden bg-gray-200 shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{this.name}}</div>
    <p class="text-gray-700 text-base">
      Age:
      {{this.age}}
      years old
    </p>
  </div>
</div>